<!DOCTYPE html>
<html style="font-size: 50px">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control " content="no-cache,must-revalidate">
    <meta name="description" content="">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="og:description" content="Camera360">
    <meta property="og:title" content="Camera360"/>
    <meta property="og:image" content="https://fe.c360dn.com/operation-activity/sport/share.jpg"/>
    <meta property="og:url" content="https://www.camera360.com"/>
    <meta property="fb:app_id" content="966242223397117"/>
    <title>Camera360</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/base.css?rev=@@hash">
    <script type="text/javascript">
        (function (doc, win) {
            var docEl = doc.documentElement;
            var resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
            clientWidth = docEl.clientWidth;
            clientHeight = docEl.clientHeight;
            docEl.style.fontSize = ((100 * (clientWidth / 750)) >= 50 ? 50 : (100 * (clientWidth / 750))) + 'px';
            var recalc = function () {
                clientWidth = docEl.clientWidth;
                clientHeight = docEl.clientHeight;
                if (!clientWidth) return;
                docEl.style.fontSize = ((100 * (clientWidth / 750)) >= 50 ? 50 : (100 * (clientWidth / 750))) + 'px';
            };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
  </head>
  <body>
    <div id="wrap">
      <div id="heade">
        <div class="title">
          <div class="picWrap">
            <img src="./images/header.png" alt="" class="pic">
          </div>
          <div class="ugcInfo">
            <p class="p-title">
              Hi～<span class="js-ugc-uname"></span>,
            </p>
            <p class="p-info">
              <span class="locLan zh">挑战新玩法，由你来决定。</span>
              <span class="locLan en">New Challenges, you decide what they'll be</span>
              <span class="locLan th">การแข่งขันใหม่ คุณเลือกเองว่าจะเป็นอะไร</span>
              <span class="locLan vi">Những thử thách mới, bạn là người quyết định thử thách đó sẽ ra sao</span>
              <span class="locLan in">Tantangan baru, kamu yang memutuskan</span>
            </p>
            <p class="p-footer">
              <i class="line"></i>camera360
            </p>
          </div>
        </div>
      </div>
      <div id="main">
        <div class="formWrap js-ugc-from">
          <div class="formItem clearfix">
            <label for="">
              <div class="locLan zh">挑战主题<span class="icon">＊</span></div>
              <div class="locLan en">Challenge theme<span class="icon">＊</span></div>
              <div class="locLan th">ธีมการแข่งขัน<span class="icon">＊</span></div>
              <div class="locLan vi">Chủ để thử thách<span class="icon">＊</span></div>
              <div class="locLan in">Tema tantangan<span class="icon">＊</span></div>
            </label>
            <div class="formIptWrap ipt-1 clearfix">
              <input name="title" type="text" class="ipt js-ugc-title">
            </div>
          </div>
          <div class="formItem clearfix">
            <label for="">
              <span class="locLan zh">玩法设置</span>
              <span class="locLan en">Settings</span>
              <span class="locLan th">การตั้งค่า</span>
              <span class="locLan vi">Cài đặt</span>
              <span class="locLan in">Pengaturan</span>
            </label>
            <div class="formIptWrap ipt-2 clearfix">
              <label class="play-item" for="play-1">
                <input id="play-1" name="play" value="1" type="radio" class="ipt js-ugc-play">
                <span class="radioWrap">
                </span>

                <span class="locLan zh">网友投票并排名</span>
                <span class="locLan en">Votes & ranking</span>
                <span class="locLan th">ให้คะแนนและการจัดอันดับ</span>
                <span class="locLan vi">Bỏ phiếu & xếp hạng</span>
                <span class="locLan in">Voting & Ranking</span>
              </label>
            </div>
            <div class="formIptWrap ipt-2 clearfix">
              <label class="play-item" for="play-2">
                <input id="play-2" name="play" value="2" type="radio" class="ipt js-ugc-play">
                <span class="radioWrap">
                </span>

                <span class="locLan zh">我来决定排名</span>
                <span class="locLan en">I'll decide</span>
                <span class="locLan th">ฉันจะตัดสินใจ</span>
                <span class="locLan vi">Tôi sẽ quyết định</span>
                <span class="locLan in">Aku yang memutuskan</span>
              </label>
            </div>
            <div class="formIptWrap ipt-2 clearfix">
              <label class="play-item" for="play-3">
                <input id="play-3" name="play" value="3" type="radio" class="ipt js-ugc-play">
                <span class="radioWrap clearfix">
                </span>

                <span class="locLan zh">不需要排名</span>
                <span class="locLan en">No thanks</span>
                <span class="locLan th">ไม่เป็นไรขอบคุณ</span>
                <span class="locLan vi">Không, cảm ơn</span>
                <span class="locLan in">Nggak dulu deh</span>
              </label>
            </div>
            <div class="formIptWrap ipt-2 clearfix">
              <label class="play-item" for="play-4">
                <input id="play-4" name="play" value="4" type="radio" class="ipt js-ugc-play">
                <span class="radioWrap">
                </span>

                <span class="locLan zh">其它</span>
                <span class="locLan en">Other</span>
                <span class="locLan th">อื่น ๆ</span>
                <span class="locLan vi">Khác</span>
                <span class="locLan in">Lainnya</span>
                <div class="otherWrap">
                  <input class="js-ugc-otherText" name="otherText" type="text" id="other">
                </div>
              </label>
            </div>
          </div>
          <div class="formItem clearfix">
            <label for="">
              <span class="locLan zh">挑战类型</span>
              <span class="locLan en">Challenge type</span>
              <span class="locLan th">อประเภทการแข่งขัน</span>
              <span class="locLan vi">Loại thử thách</span>
              <span class="locLan in">Jenis tantangan</span>
            </label>
            <div class="formIptWrap ipt-3 clearfix">
              <label for="type-1">
                <input id="type-1" name="type" value="1" type="radio" class="ipt js-ugc-type">
                <div class="typePic type-img"></div>
                <span class="typeName locLan zh">照片挑战</span>
                <span class="typeName locLan en">Photo challenge</span>
                <span class="typeName locLan th">การประกวดถ่ายภาพ</span>
                <span class="typeName locLan vi">Thử thách hình ảnh</span>
                <span class="typeName locLan in">Tantangan foto</span>
              </label>
            </div>
            <div class="formIptWrap ipt-3 clearfix">
              <label for="type-2">
                <input id="type-2" name="type" value="2" type="radio" class="ipt js-ugc-type">
                <div class="typePic type-video"></div>
                <span class="typeName locLan zh">视频挑战</span>
                <span class="typeName locLan en">Video challenge</span>
                <span class="typeName locLan th">การประกวดวิดีโอ</span>
                <span class="typeName locLan vi">Thử thách video</span>
                <span class="typeName locLan in">Tantangan video</span>
              </label>
            </div>
          </div>
          <div class="formItem clearfix">
            <label for="">
              <span class="locLan zh">挑战封面</span>
              <span class="locLan en">Challenge cover page</span>
              <span class="locLan th">หน้าปกการแข่งขัน</span>
              <span class="locLan vi">Trang bìa thử thách</span>
              <span class="locLan in">Halaman kover tantangan</span>
            </label>
            <label for="picUrl">
              <div class="formIptWrap ipt-4 clearfix">
                <form action="" method="post" encType="multipart/form-data" target="callbackIframe" id="uploadForm">
                    <input type="hidden" name="UGC" value="1"/>
                    <input id="picUrl" class="ipt js-ugc-pic" name="file" type="file" accept="image/*"/>
                </form>
                <span class="line-top line"></span>
                <span class="line-left line"></span>
              </div>
            </label>
          </div>
          <div class="formItem clearfix">
            <label for="">
              <span class="locLan zh">挑战描述</span>
              <span class="locLan en">Challenge description</span>
              <span class="locLan th">คำอธิบายการแข่งขัน</span>
              <span class="locLan vi">Mô tả thử thách</span>
              <span class="locLan in">Deskripsi tantangan</span>
            </label>
            <div class="formIptWrap ipt-5 clearfix">
              <span class="textNum js-describe-num">140</span>
              <textarea class="ipt js-ugc-describe" name="describe" ></textarea>
            </div>
          </div>
          <div class="formItem clearfix">
            <div class="formIptWrap clearfix">
              <a href="javascript:;" class="btn js-create-btn">
                <span class="locLan zh">创建</span>
                <span class="locLan en">Create</span>
                <span class="locLan th">สร้าง</span>
                <span class="locLan vi">Tạo</span>
                <span class="locLan in">Buat</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none;"  class="gModal js-gModal">
      <div class="modalBG js-gModal-bg"></div>
      <div class="modalMan">
        <div class="modalTitle js-gModal-title">提示</div>
        <div class="modalBody js-gModal-body">
          提交成功!
        </div>
        <div class="footer">
          <button class="modalBtn js-gModal-clearBtn" type="button" name="button">取消</button>
          <button class="modalBtn js-gModal-okBtn" type="button" name="button">确定</button>
        </div>
      </div>
    </div>
    <iframe id="callbackIframe" name="callbackIframe" src="about:blank" frameborder="0" style="display:none;"></iframe>
    <script type="text/javascript" src="./js/alloy_lever.min.js"></script>
    <script type="text/javascript" src="./js/base.js?rev=@@hash"></script>
    <script type="text/javascript" src="./js/PGBridge.js?rev=@@hash"></script>
    <script type="text/javascript" src="./js/PGTool.js?rev=@@hash"></script>
    <script type="text/javascript">
      // UGC
      $(function() {
        var postData = {
          describe: '',
          otherText: '',
          picUrl: '',
          play: '',
          title: '',
          type: '',
        },postName = {
          describe: '挑战描述',
          otherText: '其它玩法',
          picUrl: '挑战封面',
          play: '玩法设置',
          title: '挑战主题',
          type: '挑战类型',
        };
        var _ugc = new UgcJsSDK({
          host: '/task/ugc',
        });
        _ugc.pv();
        var _locale = ['en','zh','th','vi','in'];
        var loc = _ugc.getQuery('locale') ? _ugc.getQuery('locale').substring(0, 2) : 'en';
        var uname = _ugc.getQuery('name') || '';
        var PGTools = new PGTool();
        PGTools.getNativeInfo(function(res) {
          console.log('getNativeInfo', res);
          var result = res.result || {};
          var language = result.language || '';
          loc = language ? language.substring(0, 2) : 'en';
          $('html').attr('class', 'lan-' + loc);
          $('.js-ugc-uname').text(uname);
        });
        PGTools.pgLogin(function(res){
          var userInfo = PGTools.dealNativeUserInfo(res);
          var result = res.result || {};
          var name = result.name || '';
          console.log('paLogin', userInfo);
          uname = name;
          $('html').attr('class', 'lan-' + loc);
          $('.js-ugc-uname').text(uname);
          //userInfo = {
          //    status:"200",
          //    result: {
          //        mobile: '18782929290',
          //        uid: 'dawdeqweqwe',
          //        userToken: 'ndjasnjdasd'
          //    }
          //};
       });
       for (var i = 0; i < _locale.length; i++) {
         if (_locale[i] == loc) {
           loc = _locale[i];
           break;
         }
       }
        $('html').attr('class', 'lan-' + loc);
        $('.js-ugc-uname').text(uname);

        var _modal = new ModalJsSDK({});
        // 挑战主题
        $(".js-ugc-title").on('change blur focus keydown keyup', function() {
          var $that = $(this);
          var val = $that.val();
          var fullStr = val;
          var charCount = fullStr.length;
          var rExp = /[^A-Za-z0-9]/gi;
          var spacesStr = fullStr.replace(rExp, ' ');
          var cleanedStr = spacesStr + ' ';
          do{
            var old_str = cleanedStr;
            cleanedStrcleanedStr = cleanedStr.replace(' ', ' ');
          }while( old_str != cleanedStr );
          var splitString = cleanedStr.split(' ');
          if(charCount >= 70) {
            $that.val(val.substring(0, 70));
            return false;
          }
          postData.title = val;
          hasData(postData)
        });
        // 玩法设置
        $(".js-ugc-play").on('change blur focus keydown keyup', function() {
          var $that = $(this);
          var val = $that.val();
          $('.radioWrap').removeClass('on');
          $that.next('.radioWrap').addClass('on');
          postData.play = parseInt(val);
          hasData(postData)
        });
        $(".js-ugc-otherText").on('change blur focus keydown keyup', function() {
          var $that = $(this);
          var val = $that.val();
          postData.otherText = parseInt(val);
          hasData(postData)
        });
        // 挑战类型
        $(".js-ugc-type").on('change blur focus keydown keyup', function() {
          var $that = $(this);
          var val = $that.val();
          $('.typePic').removeClass('on');
          $that.next('.typePic').addClass('on');
          postData.type = parseInt(val);
          hasData(postData)
        });
        // callback图片
        window.uploadCallback = function(res) {
        	var obj = getImageParam(res);
          console.log(obj);
        	if( obj.serverId){
        		// window.PGCommon.staticts("uploadImage");
        		window.serverId = obj.serverId;
            console.log(obj.serverId);
            upcb(null, obj.serverId);
            return;
        	}
          upcb(1);
        }
        // 挑战封面
        $(".js-ugc-pic").on('change blur focus keydown keyup', function() {
          var $that = $(this);
          var form_data = new FormData();
          // 获取文件
          var file_data = $that.prop("files")[0];
          // 把所以表单信息
          form_data.append("name", "UGC" + (new Date).getTime());
          form_data.append("file", file_data);
          readImage(this, function(src){
            $('.ipt-4').addClass('showImg').css('background-image', 'url('+src+')');
            uploadImage(function(err, data) {
              if (!err) {
                postData.picUrl = data.data.imageUrl;
                $that.parent('.ipt-4').addClass('showImg').css('background-image', 'url('+data.data.imageUrl+')');
                hasData(postData)
                return;
              }
              _modal.show({
                title: 'error',
                body: '封面图上传失败！',
                clear: function() {
                  $that.parent('.ipt-4').removeClass('showImg').css('background-image', '');
                },
                ok: function() {
                  $that.parent('.ipt-4').removeClass('showImg').css('background-image', '');
                },
              });
            });
          });
          // _ugc.upData('http://activity-test.camera360.com/common/newUpload/browser', file_data, function(err, data) {
          //   if (!err) {
          //     postData.picUrl = data.data.imageUrl;
          //     $that.parent('.ipt-4').addClass('showImg').css('background-image', 'url('+data.data.imageUrl+')');
          //     hasData(postData)
          //     return;
          //   }
          //   _modal.show({
          //     title: 'error',
          //     body: '封面图上传失败！',
          //     clear: function() {
          //       $that.parent('.ipt-4').removeClass('showImg').css('background-image', '');
          //     },
          //     ok: function() {
          //       $that.parent('.ipt-4').removeClass('showImg').css('background-image', '');
          //     },
          //   });
          // });
        });
        function upcb(err, data) {
          if (!err) {
            postData.picUrl = data;
            $('.ipt-4').addClass('showImg').css('background-image', 'url('+data+')');
            hasData(postData)
            return;
          }
          _modal.show({
            title: 'error',
            body: '封面图上传失败！',
            clear: function() {
              $('.ipt-4').removeClass('showImg').css('background-image', '');
            },
            ok: function() {
              $('.ipt-4').removeClass('showImg').css('background-image', '');
            },
          });
        }
        // 挑战描述
        textNum(postData);
        // 提交表单
        var hasSubmit = false;
        $('.js-create-btn').click(function() {
          var $that = $(this);
          var err = hasData(postData);
          if (!err && !hasSubmit) {
            hasSubmit = true;
            // $that.text = '正在努力提交中...';
            _ugc.postUGC(postData, function(err, msg) {
              hasSubmit = false;
              // $that.text = '提交';
              console.log(err, msg)
              if (!err) {
                _modal.show({
                  title: 'success',
                  body: '创建成功！',
                  clear: function() {
                    var name = _ugc.getQuery('name');
                    window.location.href = "./info.html?id="+msg.data +
                    (name ? '&name=' + name : '') +
                    (loc ? '&locale=' + loc : '' )
                  },
                  ok: function() {
                    var name = _ugc.getQuery('name');
                    window.location.href = "./info.html?id="+msg.data +
                    (name ? '&name=' + name : '') +
                    (loc ? '&locale=' + loc : '' )
                  }
                });
                return;
              }
              _modal.show({
                title: 'error',
                body: err
              });
            });
          } else {
            _modal.show({
              title: 'error',
              body: '请填写挑战主题'
            });
          }
        });
      });
      // 字数计算
      function textNum(postData) {
        var $describe = $('.js-ugc-describe');
        var $num = $('.js-describe-num');
        $describe.on('change blur focus keydown keyup', function() {
          hasTextNum($(this).val(), postData);
        });
      }
      function hasTextNum(text, postData) {
        var $num = $('.js-describe-num');
        var _num = 140;
        var fullStr = text;
        var charCount = fullStr.length;
        var rExp = /[^A-Za-z0-9]/gi;
        var spacesStr = fullStr.replace(rExp, ' ');
        var cleanedStr = spacesStr + ' ';
        do{
          var old_str = cleanedStr;
          cleanedStrcleanedStr = cleanedStr.replace(' ', ' ');
        }while( old_str != cleanedStr );
        var splitString = cleanedStr.split(' ');
        _num = 140 - charCount;
        if (_num < 0) {
          $num.addClass('err');
        } else if ($num.hasClass('err')) {
          $num.removeClass('err');
        }
        $num.text(_num);
        postData.describe = text;
        hasData(postData)
      }
      // 验证数据
      function hasData(postData) {
        var $btn = $('.js-create-btn');
        var err = !postData.title ? 'title' : null;

        if (!err) {
          $btn.addClass('on');
        } else {
          $btn.removeClass('on');
        }
        return err;
      }
      // 预览图
      function readImage(input, cb) {
        if ( input.files && input.files[0] ) {
          var FR= new FileReader();
          FR.onload = function(e) {
            cb(e.target.result);
          };
          FR.readAsDataURL( input.files[0] );
        }
      }
      function uploadImage(cb) {
      	var theUrl = "http://"+location.host;
    		var uploadUrl = "http://activity-test.camera360.com/common/newUpload/browser?callbackurl=" + theUrl + "/ugc/callback.html";
    		$("#uploadForm").attr("action", uploadUrl);
    		$("#uploadForm").attr("target", "callbackIframe");
    		$("#uploadForm").submit();
      }

      function getImageParam(querystr){
        var obj = {};
        var querystr = querystr.replace(/^.*\?/, ""); //先把?之前的去掉
        var arr = querystr.split("&");
        if( arr.length<1 ){
            return obj;
        }
        for(var i=0; i<arr.length; i++){
            var res = arr[i].match(/([^&]*)=([^&]*)/); //res结果为["id=3", "id", "3"]
            if(!res){
                continue;
            }
            var k = res[1], v = res[2];
            if(k != ""){
                obj[k] = v;
            }
        }
        return obj;
    }
    </script>
  </body>
</html>
