<!DOCTYPE html>
<html style="font-size: 50px">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control " content="no-cache,must-revalidate">
    <meta name="description" content="">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="og:description" content="Camera360">
    <meta property="og:title" content="Camera360"/>
    <meta property="og:image" content="https://fe.c360dn.com/operation-activity/sport/share.jpg"/>
    <meta property="og:url" content="https://www.camera360.com"/>
    <meta property="fb:app_id" content="966242223397117"/>
    <title>Camera360</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/base.css?rev=@@hash">
    <script type="text/javascript">
        (function (doc, win) {
            var docEl = doc.documentElement;
            var resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
            clientWidth = docEl.clientWidth;
            clientHeight = docEl.clientHeight;
            docEl.style.fontSize = ((100 * (clientWidth / 750)) >= 50 ? 50 : (100 * (clientWidth / 750))) + 'px';
            var recalc = function () {
                clientWidth = docEl.clientWidth;
                clientHeight = docEl.clientHeight;
                if (!clientWidth) return;
                docEl.style.fontSize = ((100 * (clientWidth / 750)) >= 50 ? 50 : (100 * (clientWidth / 750))) + 'px';
            };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
  </head>
  <body>
    <div id="wrap" class="infoWrap">
      <div id="heade">
        <div class="title">
          <div class="picWrap">
            <img src="./images/header.png" alt="" class="pic">
          </div>
          <div class="ugcInfo">
            <p class="p-title">
              Hi～<span class="js-ugc-uname"></span>,
            </p>
            <p class="p-info">
              <span class="locLan zh">你创建了挑战</span>
              <span class="locLan en">You created a challenge</span>
              <span class="locLan th">คุณสร้างการแข่งขัน</span>
              <span class="locLan vi">Bạn đã tạo ra một thử thách</span>
              <span class="locLan in">Kamu membuat tantangan</span>
            </p>
            <p class="p-footer">
              <i class="line"></i>camera360
            </p>
          </div>
        </div>
      </div>
      <div id="main">
        <div style="display:none;" class="info-box">
          <h2 style="display:none;" class="info-title js-info-title"></h2>
          <p style="display:none;" class="info-describe js-info-describe"></p>
          <p style="display:none;" class="info-play js-info-play"></p>
          <p style="display:none;" class="info-picUrl js-info-picUrl">
          </p>
        </div>
        <form class="formWrap js-ugc-from">
          <div style="display:none;" class="formItem clearfix">
            <label for="">
              id
            </label>
            <div class="formIptWrap ipt-1 clearfix">
              <input name="id" type="text" class="ipt js-ugc-contact">
            </div>
          </div>
          <p class="info-getContact">
            <span class="locLan zh">这挑战真不错，感谢你的反馈，请留下你的联系方式，以便我们能够联系到你。</span>
            <span class="locLan en">This Challenge looks cool, thanks for your feedback; please leave your contact info so we can reach you</span>
            <span class="locLan th">การแข่งขันนี้ดูแจ่มมาก ขอบคุณสำหรับความคิดเห็นของคุณ กรุณาให้ข้อมูลที่ติดต่อของคุณเพื่อให้เราสามารถติดต่อคุณได้</span>
            <span class="locLan vi">Thử thách này nhìn rất tuyệt, cảm ơn phản hồi của bạn; hãy để lại thông tin liên lạc của bạn để chúng tôi có thể liên hệ với bạn</span>
            <span class="locLan in">Tantangan ini kayaknya keren, makasih A1:H18 ya; tulis info kontakmu supaya bisa kami hubungi</span>
          </p>
          <div class="formItem clearfix">
            <label for="">
              <span class="locLan zh">手机或邮箱</span>
              <span class="locLan en">Email/Phone</span>
              <span class="locLan th">อีเมล์ / โทรศัพท์</span>
              <span class="locLan vi">Email/điện thoại</span>
              <span class="locLan in">Email/nomor HP</span>
            </label>
            <div class="formIptWrap ipt-1 clearfix">
              <input name="contact" type="text" class="ipt js-ugc-contact">
            </div>
          </div>
          <div class="formItem clearfix">
            <div class="formIptWrap clearfix">
              <a href="javascript:;" class="btn js-create-btn">
                <span class="locLan zh">提交</span>
                <span class="locLan en">Submit</span>
                <span class="locLan th">ส่ง</span>
                <span class="locLan vi">Gửi</span>
                <span class="locLan in">Kirim</span>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div style="display:none;" class="gModal js-gModal">
      <div class="modalBG js-gModal-bg"></div>
      <div class="modalMan">
        <div class="modalTitle js-gModal-title">提示</div>
        <div class="modalBody js-gModal-body">
          提交成功!
        </div>
        <div class="footer">
          <button class="modalBtn js-gModal-clearBtn" type="button" name="button">取消</button>
          <button class="modalBtn js-gModal-okBtn" type="button" name="button">确定</button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="./js/base.js?rev=@@hash"></script>
    <script type="text/javascript" src="./js/PGBridge.js?rev=@@hash"></script>
    <script type="text/javascript" src="./js/PGTool.js?rev=@@hash"></script>
    <script type="text/javascript">
      $(function() {
        var postData = {
          id: '',
          contact: ''
        };
        var _ugc = new UgcJsSDK({
          host: '/task/ugc',
        });
        _ugc.pv();
        var _locale = ['en','zh','th','vi','in'];
        var loc = _ugc.getQuery('locale') ? _ugc.getQuery('locale').substring(0, 2) : 'en';
        var uname = _ugc.getQuery('name') || '';
        var PGTools = new PGTool();
        PGTools.getNativeInfo(function(res) {
          console.log('getNativeInfo', res);
          var result = res.result || {};
          var language = result.language || '';
          loc = language ? language.substring(0, 2) : 'en';
          $('html').attr('class', 'lan-' + loc);
          $('.js-ugc-uname').text(uname);
        });
        PGTools.pgLogin(function(res){
          var userInfo = PGTools.dealNativeUserInfo(res);
          var result = res.result || {};
          var name = result.name || '';
          console.log('paLogin', userInfo);
          uname = name;
          $('html').attr('class', 'lan-' + loc);
          $('.js-ugc-uname').text(uname);
          //userInfo = {
          //    status:"200",
          //    result: {
          //        mobile: '18782929290',
          //        uid: 'dawdeqweqwe',
          //        userToken: 'ndjasnjdasd'
          //    }
          //};
       });
       for (var i = 0; i < _locale.length; i++) {
         if (_locale[i] == loc) {
           loc = _locale[i];
           break;
         }
       }
        $('html').attr('class', 'lan-' + loc);
        $('.js-ugc-uname').text(uname);
        var _modal = new ModalJsSDK({});
        postData.id = _ugc.getQuery('id');
        _ugc.getUGC({id: postData.id}, function(err, data) {
          if(!err) {
            renderInfo(data.data);
            return;
          }
          _modal.show({
            title: 'error',
            body: err
          });
        });
        // 挑战主题
        $(".js-ugc-contact").on('change blur focus keydown keyup', function() {
          var $that = $(this);
          var val = $that.val();
          postData.contact = val;
          hasData(postData)
        });
        // 提交表单
        var hasSubmit = false;
        $('.js-create-btn').click(function() {
          var $that = $(this);
          var err = hasData(postData);
          if (!err && !hasSubmit) {
          hasSubmit = true;
          // $that.text = '正在努力提交中...';
          _ugc.putUGC(postData, function(err, msg) {
            hasSubmit = false;
            // $that.text = '提交';
            if (!err) {
              _modal.show({
                title: 'success',
                body: '提交成功！'
              });
              return;
            }
            _modal.show({
              title: 'error',
              body: err
            });
          });
          } else {
            _modal.show({
              title: 'error',
              body: '请填写你的联系方式！'
            });
          }
        });
      });

      // 验证数据
      function hasData(postData) {
        var $btn = $('.js-create-btn');
        var err = null;
        // var phone = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
        // var email = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        // if(!phone.test(postData.contact)){
        //   if (!email.test(postData.contact)) {
        //     err = '请输入正确手机号或者邮箱';
        //   }
        // }
        if (!postData.contact) {
          err = '请输入正确手机号或者邮箱';
        }
        if (!err) {
          $btn.addClass('on');
        } else {
          $btn.removeClass('on');
        }
        return err;
      }
      // 渲染
      function renderInfo(data) {
        var $infoTitle = $('.js-info-title'),
            $infoBox = $('.info-box'),
            $infoDescribe = $('.js-info-describe'),
            $infoPlay = $('.js-info-play'),
            $infoPicUrl = $('.js-info-picUrl');
        if (data.title) {
          $infoTitle.text(data.title);
          $infoBox.show();
          $infoTitle.show();
        }
        if (data.describe) {
          $infoDescribe.text(data.describe);
          $infoBox.show();
          $infoDescribe.show();
        }

        var playText = undefined;
        playText = (data.type == 1 ? '照片挑战,' : '视频挑战,');
        switch(data.play) {
          case 1:
          playText += '网友投票并排名';
          break;
          case 2:
          playText += '我来决定排名';
          break;
          case 3:
          playText += '不需要排名';
          break;
          case 4:
          playText += data.otherText;
          break;
          default:
           playText = undefined;
        }
        if (playText) {
          $infoPlay.text(playText);
          $infoBox.show();
          $infoPlay.show();
        }
        if (data.picUrl) {
          $infoPicUrl.append('<img class="info-pic" src="'+ data.picUrl +'" alt="" />');
          $infoBox.show();
          $infoPicUrl.show();
        }
      }
    </script>
  </body>
</html>
